/*Table*/

.t {
    outline: none;
    border-collapse: collapse;
    border-spacing: 0;
}

.t td, .t th {
    border: 1px solid;
    padding: .25em;
}

.t--no-borders td, .t--no-borders th {
    border: none;
}

.t__th-td-slide div {
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .2s ease;
    overflow: hidden;
    display: flex;
}

.t__th-td-slide.td--hidden div {
    width: 15px;
}
